<!-- Google Tag Manager -->
<noscript>
<iframe src="//www.googletagmanager.com/ns.html?id=GTM-TBWWX8"
height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TBWWX8');</script> 
<!-- End Google Tag Manager --> 

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-static-top navbar-custom" role=navigation>
  <div class=container-fluid>
    <div class=navbar-header>
      <button type=button class=navbar-toggle data-toggle=collapse data-target=.navbar-collapse><span class=sr-only>Alliance Navigation</span> <span class=icon-bar></span> <span class=icon-bar></span> <span class=icon-bar></span></button>
      <a class="navbar-brand visible-lg visible-md visible-xs" href="http://afterschoolalliance.org/" style="padding:6px 9px 0 0; margin:0"><img class="img-responsive hidden-sm" src=img/logo-sm-white2.png></a><a class="navbar-brand visible-sm" href="http://afterschoolalliance.org/" style="padding:6px 6px 0 0; margin:0"><img class="img-responsive visible-sm" src=img/logo-md-white.png></a></div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class=dropdown><a href=http://www.afterschoolalliance.org/research.cfm>Research <span class=caret></span></a>
          <ul class=dropdown-menu role=menu>
            <li><a href=http://www.afterschoolalliance.org/researchReports.cfm>Reports</a></li>
            <li><a href=http://www.afterschoolalliance.org/researchIssueBriefs.cfm>Issue briefs</a></li>
            <li><a href=http://www.afterschoolalliance.org/researchFactSheets.cfm>Fact sheets</a></li>
            <li><a href=http://www.afterschoolalliance.org/AA3PM>America After 3 PM</a></li>
          </ul>
        </li>
        <li class=dropdown><a href=http://www.afterschoolalliance.org/policyAction.cfm>Policy <span class=caret></span></a>
          <ul class=dropdown-menu role=menu>
            <li><a href=http://www.afterschoolalliance.org/policyFederal.cfm>Federal policy</a></li>
            <li><a href=http://www.afterschoolalliance.org/policy21stcclc.cfm>21st CCLC</a></li>
            <li><a href=http://www.afterschoolalliance.org/policyState.cfm>State policy</a></li>
            <li><a href=http://www.afterschoolalliance.org/policyCongressionalCaucuses.cfm>Afterschool Caucus</a></li>
            <li><a href=http://www.afterschoolalliance.org/STEM.cfm>STEM</a></li>
            <li><a href=http://www.afterschoolalliance.org/policyActiveHours.cfm>Active Hours Afterschool</a></li>
          </ul>
        </li>
        <li><a href=http://www.afterschoolalliance.org/policyStateMap.cfm><span class=hidden-sm>In&nbsp;</span>Your State</a></li>
        <li class=dropdown><a href=http://www.afterschoolalliance.org/loa.cfm>About <span class=caret></span></a>
          <ul class=dropdown-menu role=menu>
            <li><a href=http://www.afterschoolalliance.org/pressRoom.cfm>Press room</a></li>
            <li><a href=http://www.afterschoolalliance.org/aboutUsPartners.cfm>Funders</a></li>
            <li><a href=http://www.afterschoolalliance.org/aboutUsBoard.cfm>Board</a></li>
            <li><a href=http://www.afterschoolalliance.org/aboutUsOffices.cfm>Offices & staff</a></li>
          </ul>
        </li>
        <li><a href=http://www.afterschoolalliance.org/afterschoolsnack/ASnack.cfm><span class=hidden-sm>Afterschool&nbsp;</span>Snack</a></li>
        <li class=dropdown><a href=http://www.afterschoolalliance.org/loa.cfm>Lights On <span class=caret></span></a>
          <ul class=dropdown-menu role=menu>
            <li><a href=http://www.afterschoolalliance.org/loaHostEvent.cfm>Register</a></li>
            <li><a href=http://www.afterschoolalliance.org/loaEventKit.cfm>Event planning kit</a></li>
            <li><a href=http://www.afterschoolalliance.org/loaFindEvent.cfm>Find an event</a></li>
          </ul>
        </li>
        <li><a href="http://www.afterschoolalliance.org/petition" style="background-color:#70b154;">Sign Petition</a></li>
      </ul>
    </div>
    <!--/.nav-collapse --></div>
</div>


    <div class="container"><div class="row" >
        <div class="dashboard-container">
          

