<div class="optionBars">
  <div class="optionBar masthead mastheadPrimary">    
    <div class="centeredContent">
      <a id="nation-nav-button" href="national.html"><img src="img/Back-to-National-map.png" alt="National Map Thumbnail"></a>
      
      {% include nav-dropdown.html %}
       
      <div class="buttonRow">
        <a class="changeCategoryBtn demandCategory clickable fillByCategory" data-category="demand">Demand</a> 
        <a class="changeCategoryBtn benefitsCategory clickable fillByCategory" data-category="benefits">Benefits</a> 
        <a class="changeCategoryBtn supportCategory clickable fillByCategory" data-category="support">Support</a>

        <div class="download-dropdown">
          
          <a href="#" class="toggle"><img class="download-arrow" src="img/download-icon.png" alt="Downloads"> <span>Fact Sheets &amp; News Releases</span></a>
          
          <ul class="">
            <li class="section-label national-download-link" target="_blank">National</li>             
            <li class="national-download-link"><a href="http://www.afterschoolalliance.org/documents/AA3PM-2014/National-AA3PM-2014-Fact-Sheet.pdf" id="masthead-national-factsheet" target="_blank">Fact Sheet</a></li>        
            <li class="national-download-link"><a href="http://www.afterschoolalliance.org/AA3PM/Kids_on_the_Move_Executive_Summary.pdf" target="_blank">Health &amp; Wellness Key Findings</a></li>      
            <li class="national-download-link"><a href="http://www.afterschoolalliance.org/AA3PM/Concentrated_Poverty_Executive_Summary.pdf" target="_blank">Communities of Concentrated Poverty Key Findings</a></li>        
            <li class="national-download-link"><a href="http://www.afterschoolalliance.org/AA3PM/Afterschool_in_Rural_Communities_Executive_Summary.pdf" target="_blank">Rural Communities Key Findings</a></li>
            <li class="national-download-link"><a href="http://www.afterschoolalliance.org/AA3PM/STEM_Executive_Summary.pdf" target="_blank">STEM Key Findings</a></li>              
            <li class="national-download-link"><a href="http://www.afterschoolalliance.org/documents/AA3PM-2015/National-AA3PM-Summer-Fact-Sheet-6.11.15.pdf" target="_blank">Summer Key Findings</a></li>
            <li class="section-label rural-download-link">Rural Communities</li>
            <li class="rural-download-link"><a href="http://www.afterschoolalliance.org/AA3PM/Afterschool_in_Rural_Communities_Executive_Summary.pdf" target="_blank">Key Findings</a></li>
            <li class="rural-download-link"><a href="http://www.afterschoolalliance.org/press_archives/AA3PM-2016/National-Afterschool-in-Rural-Communities-NR.pdf" target="_blank">News Release</a></li>

            <li class="section-label poverty-download-link">Concentrated Poverty</li>
            <li class="poverty-download-link"><a href="http://www.afterschoolalliance.org/AA3PM/Concentrated_Poverty_Executive_Summary.pdf" target="_blank">Key Findings</a></li>
            <li class="poverty-download-link"><a href="http://www.afterschoolalliance.org/press_archives/CCP-NR-083016.pdf" target="_blank">News Release</a></li>

            <li class="section-label detail-download-link"></li>
            <li class="detail-download-link fact-sheet-link"><a href="http://www.afterschoolalliance.org/documents/AA3PM-2014/National-AA3PM-2014-Fact-Sheet.pdf" target="_blank">Fact Sheet</a></li>
            <li class="detail-download-link general-news-release-link"><a href="http://www.afterschoolalliance.org/AA3PM/Kids_on_the_Move_Executive_Summary.pdf" target="_blank">News Release</a></li>
            <li class="detail-download-link health-focused-fact-sheet-link"><a href="#" target="_blank">Health &amp; Wellness Fact Sheet</a></li>
            <li class="detail-download-link health-focused-news-link"><a href="#" target="_blank">Health &amp; Wellness News Release</a></li>
            <li class="detail-download-link stem-focused-fact-sheet-link"><a href="#" target="_blank">STEM Fact Sheet</a></li>
            <li class="detail-download-link stem-focused-news-link"><a href="#" target="_blank">STEM News Release</a></li>
            <li class="detail-download-link summer-news-release-link"><a href="http://www.afterschoolalliance.org/AA3PM/STEM_Executive_Summary.pdf​" target="_blank"> Summer News Release</a></li>
          </ul>
        </div>
      </div>
      <img class="back-to-top" src="img/back-to-top.png" alt="top">
    </div>
  </div>      
  <div class="optionBar secondaryOptionBar masthead">
    <div class="centeredContent">
      <h4>Special <h4>
        <h4> Topics</h4>
        <div class="buttonRow">
          <a class="changeCategoryBtn summerCategory clickable fillByCategory" data-category="summer">Summer</a> <a class="changeCategoryBtn healthCategory clickable fillByCategory" data-category="health">Health &amp; Wellness</a> <a class="changeCategoryBtn stemCategory clickable fillByCategory" data-category="stem">STEM</a><a class="ruralButton clickable" data-category="rural">Rural</a>  <a class="clickable povertyButton" data-category="poverty" href="#"><span class="starIcon"></span> Concentrated Poverty</a>
        </div>
    </div>
  </div>        
</div>