/* Wash over font colors for this page (minus cards) */
.mainTitle,
.mainIntroText,
.cardSectionHeader,
.pageFooter {
	color: rgb(65, 64, 66) !important;
}

.cardSectionHeader {
	font-size: 18px;
	font-weight: lighter;
	text-transform: uppercase;
  width: 922px;
}

.cardSectionHeader .colorByCategory {
	font-weight: bold;
}

#detail {
	background-color: #fff;
}

.end-spacer {
	height: 0px;
}

.firstPageFooter img {
  margin: -3px 0 45px 50px;
	width: 297px;
}

hr {
	display: none;
}



.printContent {
	padding-left: 35px;
}

.printContent #cardsWrapper {
	background-color: #FFF;
}

.printContent .card {
	border-radius: 0;
	width: 285px;
}

.printMasthead p {
	font-size: 16px;
	line-height: 24px;
	margin: 0 auto;
  width: 893px;
  padding-right: 11px;
}

.printMasthead {
	border-bottom: 0px !important;
}

.printMasthead .logo {
	margin: 3px 14px 0 30px;
	width: 181px;
}

.printMasthead h1 {
	font-size: 38px;
	margin-left: 0;
	padding-top: 25px;
}

.printMasthead h2 {
	color: #9D9FA1;
	font-size: 34px;
	font-weight: lighter;
}

.logo-text {
	color: #9D9FA1;
	position: relative;
	top: 108px;
	right: 192px;
	font-size: 10px;
}

.site {
	padding-top: 12px;
}

.site .content.centeredContent {
	margin-bottom: 0;
}

.secondPageFooter {
	margin: 0 auto;
	width: 906px;
  padding-left: 13px;
}

.secondPageFooter h3 {
	font-size: 14px !important;
	font-weight: lighter !important;
	margin: 10px 0 0 0 !important;
	text-align: left !important;
	text-transform: uppercase;

}

.secondPageFooter p {
	font-size: 12px;
	padding-top: 5px;

}

.secondPageFooter p {
	margin: 0;
}

.secondPageFooter p:last-of-type {
	font-size: 18px;
	margin: 0 auto;
	width: 840px;
}

.spacer-above-logo {
	height: 20px;
}

.stupid-line {
	border-top: 1px solid #ddd;
	width: 892px;
}

.cardSectionBody {
  padding-left: 3px;
}

.masthead>.centeredContent {
  padding-left: 7px;
}

/* Center the row with two lines */
.health-section.cardSectionNumber2 .cardSectionBody {
	padding-left: 151px; /* Center on other cards */
	/*padding-left: 175px;*/ /* Center with whole page */
}

/* Adjust hepa row of big number cards so that their text fits better */
.health-section.cardSectionNumber1 .bigCenteredText {
  margin: 16px 0 -15px 0;
}

#detail .health-section.cardSectionNumber1 .more p {
  padding-left: 8px;
}