


          
        </div></div></div> <!-- /container -->
<div class="footer">
      <div class="container"> <div class="row" >
        <div class="col-xs-12" style="border-bottom: 1px solid #cccccc; padding: 10px 0 7px 5px;"><a href="http://afterschoolalliance.org" border="0" style="padding:0; margin:0;"><img class="img-responsive" src="img/logo-sm-white.png" style=" opacity: 0.3;
    filter: alpha(opacity=30);"></a></div></div>
       <div class="row" ><div class="col-xs-3" ><p>
1616 H St., NW Suite 820<br>Washington, D.C. 20006 <br>(866) KIDS-TODAY | <a href="mailto:info@afterschoolalliance.org">Email us</a><br></p></div><div class="col-xs-9 credits"><p>The 2014 America After 3PM research and report were made possible by the generous support of the Charles Stewart Mott Foundation, the Robert Wood Johnson Foundation, The Wallace Foundation, the Ford Foundation and the Noyce Foundation, with additional support from the Heinz Endowments, The Robert Bowne Foundation and the Samueli Foundation.  </p>
      </div>
    </div><div class="row"><div class="col-xs-3" ><a href="https://www.facebook.com/afterschoolalliancedc" border="0" style="padding:0 9px 0 0; margin:0;"><img  src="img/fb.png" style=" opacity: 0.6;
    filter: alpha(opacity=60);"></a><a href="https://twitter.com/afterschool4all" border="0" style="padding:0 9px 0 0; margin:0;"><img  src="img/tw.png" style=" opacity: 0.6;
    filter: alpha(opacity=60);"></a><a href="http://www.pinterest.com/afterschool4all/" border="0" style="padding:0 9px 0 0; margin:0;"><img  src="img/pin.png" style=" opacity: 0.6;
    filter: alpha(opacity=60);"></a> </div><div class="col-xs-2" style="padding-top:5px;" ><a href="http://afterschoolalliance.org/join.cfm">Afterschool updates</a></div><div class="col-xs-2" style="padding-top:5px;">
        <a href="http://www.afterschoolalliance.org/storybook/gallery.cfm">Afterschool Storybook </a></div><div class="col-xs-2" style="padding-top:5px;"><a href="http://www.afterschoolalliance.org/toolBox.cfm">Program resources</a></div><div class="col-xs-2" style="padding-top:5px;"><a href="http://www.afterschoolalliance.org/afterschoolRadio.cfm"> Afterschool radio</a></div></div></div></div></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- DUPLICATE jQUERY  -->
  <!--   // <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>